<div class="text-center">
    <h1 class="display-4 mb-4">Welcome to KwaKhumalo</h1>
    <h4 class="mb-4">KhumaloCraft Emporium</h4>
    <div>
        <a asp-action="Index" asp-controller="MyWork" class="btn btn-lg btn-primary mr-3">View Products</a>
        <a asp-action="Index" asp-controller="ViewOrders" class="btn btn-lg btn-secondary mr-3">View Previous Orders</a>
        <a asp-action="AboutUs" asp-controller="Home" class="btn btn-lg btn-info mr-3">About Us</a>
        <a asp-action="ContactUs" asp-controller="Home" class="btn btn-lg btn-success">Contact</a>
    </div>
    <img src="https://abeautifulmess.com/wp-content/uploads/typekit/.a/6a00d8358081ff69e201bb07cee1b9970d-800wi" alt="KwaKhumalo" class="img-fluid mb-4">
    
</div>
