<div class="text-center">
    <h1 class="display-4 mb-4">Cart Item Successfully Added</h1>
    <div class="mb-4">
        <a asp-action="Index" asp-controller="MyWork" class="btn btn-lg btn-danger mr-3">Go back to My Work</a>
        <a asp-action="Index" asp-controller="ViewOrders" class="btn btn-lg btn-success">View Orders</a>
    </div>
</div>
